/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section, input, select, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
 } */

 header {
   display: flex;
   padding-bottom: 10px;
 }

 a, link {
   color: #438e29;
   text-decoration: none;
   cursor: pointer;
   font-weight:normal;
 }

 .center-div {
   margin: 0 auto;
 }
 
 .login-form-container, .signup-form-container {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -220px;
  width: 450px;
  padding: 20px;
  background: #fff;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid lightgray;
}

input {
  height: 40px;
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  /* padding: 10px; */
  margin:0px 5px;
  width: 100%;
  border-radius: 5px;
  -webkit-appearance: none;
  background-color: whitesmoke;
}

input[type=button], input[type=submit], input[type=reset] {
  display: block;
  background-color: #51af33;
  border: 1px solid #51af33;
  width: 100%;
  height:40px;
  color: white;
}

input.signup-input{
  padding:0px;
}

.signup-form {
  padding:10px;
}

/* Form */

